/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: "Komika Hand";
  src: url("komika.hand.woff") format("woff");
}

@font-face {
  font-family: "Slapstick";
  src: url("sf-slapstick-comic-shaded.woff") format("woff");
}

@font-face {
  font-family: "Cartoonist Hand";
  src: url("cartoonist_hand_bold.woff") format("woff");
}

@font-face {
  font-family: "Qarmic Sans";
  src: url("qarmic_sans.woff") format("woff");
}

@font-face {
  font-family: "Veggie";
  src: url("veggie_med.woff") format("woff");
}

body {
  background-image: url("SL-090119-22970-03.jpg");
  background-size: contain;
}

header {
  text-align: center;
  font-family: "Komika Hand";
  font-size: 1.5em;
  grid-area: head;
}

main {
  grid-area: main;
}

footer {
  font-family: "Komika Hand";
  font-size: 0.4em;
  text-align: center;
  grid-area: foot;
}

h2 {
  text-align: center;
  font-family: "Cartoonist Hand";
}

tr {
  font-family: "Veggie";
  font-size: 1.5em;
  padding: 3px;
}

td .title {
  text-align: left;
}

#site {
  display: grid;
  width: 80%;
  grid-template: [header-left] "head head" 40px [header-right]
                 [main-left]   "main main" 1fr  [main-right]
                 [footer-left] "foot foot" 30px [footer-right]
                 / 120px 1fr;
  grid-gap: 5px;
}

.item_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pub_grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(15, 1fr);
  row-gap: 10px;
  font-family: "Slapstick";
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
}

.pub_grid a {
  text-decoration: none;
}

.comics {
  text-align: center;
}